.cont1 {
    max-width: 400px;
}
.brand1 {
    margin-left: 30px;
}
.btnwidth {
    width: 100%;
}
.endtext {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
}
.aligngirl {
    margin-top: 15px;
}
.marginheader {
    margin: 0 30px;
}
.shadow4 {
    background-color: blue;
    color: whitesmoke;
    padding: 0px 3px;
}
.alignlist {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    color: blue;
}
.marginleft {
    margin-left: 30px;
    margin-top: 70px;
}
.flextop {
    display: flex;
    align-items: center;
}
.flexbottomdate {
    display: flex;
    align-items: center;
    width: 100%;
}
.aligncart {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 100px;
}
.refflex {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.margh4 {
    margin-left: 100px;
}
.bordercart {
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 20px 10px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.233);
}
.headerpage3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page3flexuser {
    display: flex;
    gap: 20px;
}
.imagesphoto img {
    width: 24%;
    max-height: 250px;
}
.imagesphoto {
    display: flex;
    gap: 20px;
}
.borderpage3 {
    border: 1px solid rgba(0, 0, 0, 0.342);
    padding: 20px 30px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.233)
}
.imagesphoto1 img {
    width: 100%;
}
ul li {
    padding: 5px 5px;
}
ul li:hover {
    background-color: lightblue;
    color: whitesmoke;
    cursor: pointer;
}
.btnava {
    width: 100%;
}
.imagewidth11 img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.boldtext {
    font-weight: 400;
    font-size: 22px;
}
.textdateapr1 {
    font-size: 18px;
    font-weight: 500;
}
.textdateapr {
    font-size: 12px;
    color: gray;
}
.flexnuz1 {
    display: flex;
    align-items: center;
    gap: 10px;
}